Options +FollowSymLinks
Options -Indexes

# Impedir el acceso a archivos específicos
<FilesMatch "(.sql|.env|.log|.config)$">
  Order allow,deny
  Deny from all
</FilesMatch>

# Denegar el acceso a los directorios
# Deny from all

# Permitir el acceso a los archivos dentro de los directorios
<FilesMatch "\.(css|js|jpeg|jpg|png|webp|svg|ico)$">
  Allow from all
</FilesMatch>

# Paginas de error personalizadas
ErrorDocument 500 "Houston, we have a problem."
ErrorDocument 403 /views/errors/_403.php
ErrorDocument 404 /views/errors/_404.php

RewriteEngine On

# Ocultar extensión .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [L]

# Redirigir a index.php para enlaces amigables
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Restringir el acceso a los archivos y directorios ocultos
RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]